.compose-container {
    position: fixed;
    bottom: 0px !important;
    right: 50px;
    background-color: whitesmoke;
    width: 40%;
    height: 40%;
    max-width: 500px;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    border: 0.3px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0.24);
}

.compose-header {
    padding: 0.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

.compose-header>h3 {
    color: #041e49;
    font-size: 0.8rem;
    font-weight: 100;
}

.compose-header>button {
    background-color: transparent;
    border: none;
    color: #041e49;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
}

.compose-buttons > button {
    background-color: #0b57d0;
    margin: 5px !important;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 100;
    color: white;
    font-size: 0.7rem;
}
   


.compose-forms {
display: flex;
flex-direction: column;
flex: 1;
}

.compose-forms > input {

    min-height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    max-height: 200px;
}

.compose-forms > textarea {
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    max-width: 100%;

 

}
.compose-message {
    flex: 1;
}