.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  padding: 0.7rem;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left > img {
  /* object-fit: contain; */
  height: 1.8rem;
  margin-left: 1rem;
}

.header_left > i {
  color: #989aa0;
  font-size: 20px;
  cursor: pointer;
}

.header_middle > i {
  color: #989aa0;
}

.header_middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 0.625rem;
  border-radius: 5px;
}

.header_middle input {
  border: none;
  width: 100%;
  padding: 0.625rem;
  outline-width: 0;
  font-size: medium;
  background-color: transparent;
}

.header_right > i {
  color: #989aa0;
  font-size: 20px;
}

.header_right > img {
  object-fit: contain;
  height: 1.6rem;
  margin-left: 1rem;
  border: 2px solid pink;
  border-radius: 30px;
  padding: 1px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.25rem;
}
