@media (max-width: 640px) {



    body {
        overflow: hidden;
    }

    .SideBarComponent>h3,
    .SideBarComponent>p,
    button.sidebar_compose>h2 {
        display: none;
    }


    .sidebar-labels {
        display: none;
    }

    .sidebar {
        position: absolute;
        display: flex;
        background-color: whitesmoke;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: none;
        justify-content: center;
    }


    button.sidebar_compose {
        margin-right: 20px;
        padding: 0.7rem;
        background-color: lightblue;
        margin-top: 0.3rem;
    }

    .emaillist-topbuttons {
        justify-content: space-between;
    }

    .EmailList {
        width: 100%;

    }

    .emaillist_sections {
        display: none;
    }

    .emailRow {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: repeat(3, auto);
        height: 4.5rem;
        width: 350px;
        flex: 0.1;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .emailRow_options {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-row: 1/5;
    }

    .emailRow_options>span {
        margin-bottom: 5px;
    }


    .emailRow_title {
        grid-column: 2/3;
        padding-right: 10px;
        font-size: 1.3rem;
        grid-row: 1/2;
    }

    .emailRow_time {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 0.8rem;
        margin-left: 15px;
    }

    .emailRow_message {
        grid-column: 2/3;
        font-size: 0.75rem;
        grid-row: 2/3;
        font-size: 1rem;
        margin-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 350px;
    }

    .emailRow_description {
        display: none;
    }

    .header_left>i {
        display: none
    }

    .header_left>img {
        margin-left: 0.1rem;
        margin-right: 30px;
        height: 1.3rem;

    }
        

    .header_right {
        padding-right: 0;
    }

    .header_middle{
        flex: 1;
        margin-right: 10px
    }
        

    .header_middle input {
        width: 100%;
    }

    .header_right>img {
        margin-left: 10px;
        margin-right: 0;
    }


    .header {
        border-bottom: 3px solid whitesmoke;
    }
}