@media (max-width: 640px) {
  body .EmailList {
    overflow: scroll;
  }

  .SideBarComponent > h3,
  .SideBarComponent > p,
  button.sidebar_compose > h2 {
    display: none;
  }

  .sidebar-labels {
    display: none;
  }

  .sidebar {
    position: fixed;
    display: flex;
    background-color: whitesmoke;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: none;
    justify-content: center;
  }

  button.sidebar_compose {
    margin-right: 20px;
    padding: 0.7rem;
    background-color: lightblue;
    margin-top: 0.3rem;
  }

  .emaillist-topbuttons {
    justify-content: space-between;
  }

  .EmailList {
    width: 100%;
  }

  .emaillist-sections {
    display: none;
  }

  .emailRow {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(3, auto);
    height: 5.5rem;
    width: 100%;
    flex: 0.1;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .emailrow-options {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1/5;
  }

  .emailrow-options > span {
    margin-bottom: 5px;
  }

  .emailrow-title {
    grid-column: 2/3;
    padding-right: 10px;
    font-size: 1.25rem;
    grid-row: 1/2;
  }

  .emailrow-time {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 0.6rem;
    margin-left: 15px;
  }

  .emailrow-message {
    grid-column: 2/3;
    font-size: 0.75rem;
    grid-row: 2/3;
    font-size: 1rem;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
  }

  .emailRow_description {
    display: none;
  }

  .header-left > i {
    display: none;
  }

  .header-left > img {
    margin-left: 0.1rem;
    margin-right: 30px;
    height: 28.75px;
    width: 37.8px;
  }

  .header-right {
    padding-right: 0;
    width: 55px;
  }

  .header-middle {
    width: 250px;
    margin-right: 10px;
    flex: 1;
  }

  .header-middle input {
    width: 100%;
  }

  .header-right > img {
    margin-left: 10px;
    margin-right: 0;
    height: 25.75px;
    width: 25px.75;
  }

  .header {
    border-bottom: 3px solid whitesmoke;
  }

  .emailpreview-body {
    width: 90vw;
    height: 50vh;
    margin-left: 20px;
  }

  .emailpreview-bodyheader {
    display: flex;
    flex-direction: column;
  }

  .emailpreview-bodyheader .time {
    display: none;
  }

  .emailpreview-bodyheader > p {
    margin-left: 0.6rem;
  }

  .compose-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    border-radius: 0; 
    box-shadow: none; 
  }

  .label-icon {
    display: none;
  }

}

