@media (max-width: 640px) {
  .note-list {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .note-preview:last-child {
    margin-bottom: 0px;
  }

  .content-input {
    flex-direction: column;
  }

  .add-note {
    margin-inline-start: 0.625rem;
    margin-inline-end: 0.625rem;
    width: calc(100% - 0.625rem * 2);
  }

  .keep-header {
    flex-direction: column;
  }

  .keep-header-middle {
    flex-direction: column;
    margin-inline-end: 0rem;
    order: 1;
  }

  .keep-header-left {
    /* position: relative;
    left: -70px;
    bottom: -20px; */
    display: none;
  }

  .keep-header-right {
    /* position: relative;
    left: 110px;
    bottom: 5px; */
    display: none;
  }
}
