@font-face {
  font-family: roboto;
  src: url('../../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: product-sans;
  src: url('../../fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: teko;
  src: url('../../fonts/Teko.ttf');
}

@font-face {
  font-family: playfair;
  src: url('../../fonts/Playfair.ttf');
}

@font-face {
  font-family: futura;
  src: url('../../fonts/futura.ttf');
}
