.keep-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  padding: 0.7rem;
}

.keep-header-name {
  font-size: 1.375rem;
  font-family: product-sans;
  color: #5f6368;
  padding-inline-start: 0.25rem;
}

.keep-header-left {
  display: flex;
  align-items: center;
}

.keep-header-left > img {
  object-fit: contain;
  height: 1.8rem;
  margin-left: 1rem;
  padding-inline-end: 0.25rem;
}

.keep-header-left > i {
  color: #989aa0;
  font-size: 20px;
}

.keep-header-middle > i {
  color: #989aa0;
}

.keep-header-middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 0.625rem;
  border-radius: 5px;
}

.keep-header-middle input {
  border: none;
  width: 100%;
  padding: 0.625rem;
  outline-width: 0;
  font-size: medium;
  background-color: transparent;
}

.keep-header-right > i {
  color: #989aa0;
  font-size: 20px;
}

.keep-header-right > img {
  object-fit: contain;
  height: 1.6rem;
  margin-left: 1rem;
  border: 2px solid pink;
  border-radius: 30px;
  padding: 1px;
}

.keep-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.25rem;
}
