.note-todos {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}

.note-todos .todo-line {
  margin-inline-start: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.note-todos .done {
  text-decoration: line-through;
}

.note-todos .material-icons-outlined:not(.icon-add) {
  cursor: pointer;
  font-size: 1rem;
}

.note-todos input[type='checkbox'] {
  display: none;
}

.note-todos .icon.icon-remove {
  padding: 0.2rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.note-todos .todo-line:hover .icon.icon-remove {
  opacity: 1;
}

.note-todos .icon.icon-remove:hover {
  background-color: rgba(228, 228, 228, 0.671);
  border-radius: 50%;
}

.note-todos .add-todo-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-block-start: 1.4rem;
  margin-inline-start: 0.6rem;
  padding: 0.3rem;
  color: gray;
  /* border: 1px solid gray; */
}

.note-todos .add-todo {
  margin-inline-start: 0.3rem;
  padding: 2px 4px;
  width: 100px;
}

.note-todos .add-todo:focus-visible {
  /* outline:  */
  padding: 2px 4px;
}
