.note-todos {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}

.note-todos .note-todos-title {
  align-self: center;
}

.note-todos .todo-line {
  margin-inline-start: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.note-todos .todo-txt.done {
  text-decoration: line-through;
}

.note-todos .todo-done-at {
  font-size: 0.8rem;
  color: rgba(68, 68, 68, 0.493);
  pointer-events: none;
  user-select: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.note-todos .material-icons-outlined:not(.icon-add) {
  cursor: pointer;
  font-size: 1rem;
}

.note-todos input[type='checkbox'] {
  display: none;
}

.note-todos .icon.icon-remove {
  padding: 0.2rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.note-todos .icon.icon-add {
  cursor: pointer;
}

.note-todos .todo-line:hover .icon.icon-remove {
  opacity: 1;
}

.note-todos .icon.icon-remove:hover {
  background-color: rgba(228, 228, 228, 0.671);
  border-radius: 50%;
}

.note-todos .add-todo-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-block-start: 1.4rem;
  margin-inline-start: 0.6rem;
  padding: 0.3rem;
  color: gray;
}

.note-todos .add-todo {
  margin-inline-start: 0.3rem;
  padding: 2px 4px;
  width: 100px;
  text-align: start;
}

.note-todos .add-todo:focus-visible {
  padding: 2px 4px;
}
